.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(13,110,253,255);
    text-align: center;
    color: white;
  }
  
  .show-form-group{
    display: flex;
    align-items: center;
  }
  
  .form-label{
    margin-right: 10px;
  }